@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --white: #fff;
  --black: #000;
  --grey: #3B3B3B;
  --yellow: #ffbb00;
  --red: #f73a3a;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  width: 100%;
  height: 100vh;
  padding: 30px 80px 0px 80px;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  background-image: url(../public/bg.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto;
}

.student-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.left-side{
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 20px;
}

.left-side .logo img{
  width: 200px;
}

.contact-form{
  width: 620px;
  padding: 40px;
  background: rgb(255,107,0);
  background: linear-gradient(0deg, rgba(255,107,0,1) 0%, rgba(255,70,70,1) 100%);
  border-radius: 30px;
  margin-top: 20px;
}

.contact-form .login-id,
.contact-form .login-password{
  margin-bottom: 30px;
}

.contact-form .login-id label,
.contact-form .login-password label{
  font-size: 30px;
  font-weight: 400;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.contact-form .login-id input,
.contact-form .login-password input{
  background-color: var(--white);
  padding: 15px;
  width: 100%;
  max-width: 100%;
  color: var(--grey);
  font-size: 15px;
  font-weight: 400;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

.forget-password, .help{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.forget-password span,
.help span{
  font-size: 20px;
  font-weight: 500;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.submit-btn{
  margin: 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background-color: var(--yellow);
  border-radius: 50px;
  cursor: pointer;
}

.submit-btn:hover{
  cursor: pointer;
  transition: all 300ms ease-in;
  background-color: var(--red);
}

.submit-btn input{
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 25px;
  font-weight: 700;
  color: var(--white);
  font-family: "Roboto", sans-serif;
}

.submit-btn img{
  cursor: pointer;
  width: 40px;
}

.social-logo{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social-logo img{
  width: 50px;
}

.right-side .banner-img img{
  width: 700px;
}


/* Responsiveness Coding */

@media (max-width:1400px){
  body{
    width: 100%;
    height: 100vh;
    padding: 50px 80px 50px 80px;
  }
  .right-side .banner-img img{
    width: 600px;
  }
  .left-side .logo img{
    width: 150px;
  }
  .left-side{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width:1200px){
  .right-side .banner-img img{
    width: 500px;
  }
  .contact-form{
    width: 520px;
    padding: 20px;
    margin-top: 0px;
  }
  .contact-form .login-id,
  .contact-form .login-password{
    margin-bottom: 30px;
  }
  .contact-form .login-id label,
  .contact-form .login-password label{
    font-size: 20px;
  }
  .contact-form .login-id input,
  .contact-form .login-password input{
    padding: 10px;
    font-size: 12px;
    margin-top: 5px;
  }
  .forget-password, .help{
    margin: 20px 0;
  }
  .forget-password span,
  .help span{
    font-size: 18px;
  }
  .submit-btn{
    margin: 20px 0;
    padding: 5px 10px;
  }
  .submit-btn input{
    font-size: 20px;
  }
  .submit-btn img{
    width: 30px;
  }
  .social-logo{
    gap: 10px;
  }
  .social-logo img{
    width: 30px;
  }
}

@media (max-width:1100px){
  .student-login{
    flex-direction: column;
    gap: 10px;
  }
  .left-side{
    align-items: center;
  }
  .contact-form{
    width: 100%;
    padding: 20px;
    margin-top: 0px;
  }
  .right-side .banner-img img{
    width: 100%;
  }
}

@media (max-width:567px){
  body{
    background: none;
    padding: 20px 20px 20px 20px;
  }
  .contact-form{
    width: 100%;
    padding: 20px;
    margin-top: 0px;
  }
  .forget-password span,
  .help span{
    font-size: 18px;
  }
}